{
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/destructuring-assignment": false
  },
  "parser": "babel-eslint",
  "extends": [
    "airbnb"
  ]
}