#district-classes {
    text-align: center;
}

#district-classes table {
    margin-left: auto;
    margin-right: auto;
    width: 99%;
}

#district-classes th, #district-classes td {
    text-align: center;
}