#classInfo {
    border-left: 6px solid;
    border-image: linear-gradient( #53bbf4,  #c0ff00) 30;
    margin: 1% 20%;
}

#classInfo h2 {
    text-align: left;
}

#district-classes {
    text-align: left;
}