#about {
    text-align: left;
}

#about h2 {
    font-family: Jura;
    width: 90%;
    text-align: left;
    font-size: 150%;
    float: right;
}

#about h1{
    font-family: Jura;
    text-align: center;
}

#about p{
    font-family: Arial;
    width: 90%;
    float:right;
    margin: 1%;
}

#about img:first-of-type{
    margin: 0px 47.5%;
}

#about img {
    width: 5%;
    margin: 1%;
}