#about h3 {
    width: 90%;
    text-align: left;
    font-size: 150%;
    float: right;
}

#about p{
    width: 90%;
    float:right;
    margin: 1%;
}

#about img:first-of-type{
    margin: 0px 47.5%;
}

#about img {
    width: 5%;
    margin: 1%;
}