#gridFAQ {
    display: grid;
    grid-template-columns: 5% auto;
}

.item {
    align-self: start;
    overflow: auto;
    height: 100%;
}

#gridFAQ h3{
    text-align: left;
}

#FAQIcon{
    margin: 0px 47.5%;
    width: 5%;
}