#codeChampionship {
    text-align: center;
}

#codeChampionship h1 {
    font-family: Jura;
}

#codeChampionship p{
    font-family: Arial;
}

#codeChampionship button{
    background-color: #53bbf4;
    border: none;
    color: white;
    padding: 1%;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 120%;
    border-radius: 10%;
    margin: 1% auto;
    margin-bottom: 7%;
    font-family: Jura;
}

#codeChampionship img{
    width: 5%;
    margin: 1%;
    margin-top: 10%;
}