#districtList h1 {
    font-family: Jura;
    text-align: center;
}

#districtList h3{
    font-family: Jura;
    color: #53bbf4;
    font-size: 120%;
}

#splitLine hr{
    background: linear-gradient(to right, #ff85cb, #ff1911);
    overflow: visible;
    text-align: center;
    height: 5px;
}

#newLine {
    clear: both;
}

#grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 5px;
}