#navigation ul {
    list-style-type: none;
    background-color: rgb(245, 245, 245);
    margin: 0rem;
    padding: 0;
    overflow: hidden;
    height: 65px;
}

#navigation img {
    height: 55px;
    width: auto;
}

#navigation li:first-child {
    float:left;
    padding-left: 1.5%;
}

#navigation li:nth-child(2) {
    float:left;
    margin: 0.5rem;
}

#navigation li {
    float: right;
    font-family: Jura;
}

#navigation li a {
    display: block;
    color: black;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
}

#navigation li:first-child a {
    padding: 0;
}

#navigation li:nth-child(2) a {
    padding: 0
}

.pages a:hover {
    background-color: #888888;
}

#navigation h1:first-child {
    line-height: inherit;
    font-family: "New Century Schoolbook";
}
