ul {
    list-style-type: none;
    background-color: rgb(245, 245, 245);
    margin: 0rem;
    padding: 0;
    overflow: hidden;
    height: 65px;
    width: 100%;
}

li:first-child {
    float:left;
    padding-left: 1.5%;
}

li:nth-child(2) {
    float:left;
    margin: 0.5rem;
}

li {
    float: right;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #888888;
}
